body{padding: 5em;
    background-color: black;}

h1,h2{text-align: center;
    color: whitesmoke;
    font-family: 'Staatliches', cursive; }

p{width:750px;
   color: ghostwhite}
/*The next rule centers and spaces the media*/
img, video, audio, canvas, p{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}
.credits{font-size: 0.5em;
    color: rgb(200,200,200);}

